﻿@model List<TableModel>

@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DockerWorkshopWeb</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="col-md-12">
        <h2>Table:</h2>
        <ul>
            @foreach (var item in Model)
            {
                <li>
                    <div class="col-md-1">Id:</div>
                    <div class="col-md-1">@item.Id</div>
                    <div class="col-md-1">Value:</div>
                    <div class="col-md-9">@item.Value</div>
                </li>
            }
        </ul>
    </div>
</body>
</html>